.store-container{
    height: 100%;
    width: 100%;

    display: flex;    
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;    

    padding: 30px;

    background-color: #F2F3F7;/*#F9F9F9 este será para las card*/
}

.adv-div{
    height: 185px;
    width: 1192px;/*1192*/    
    
    /*border: 1px solid lightgreen;*/

    display: flex;
    align-items: center;
    justify-content: center;
    /*lila lindo: #F2F2F8*/    
}

.content-div{
    height: 85%;
    width: 1900px;/*1192*//*2000 pero por adv se disminuyo to 1900*/
    
    display: flex;
    flex-direction: column;
    /*align-items: center;/*justify-content: center;*/        

    box-sizing: border-box;/*para que no se salga de los bordes*/
    padding: 10px 25px 25px 25px;
    
    /*border: solid 1px;*/
}

.sticky{
    /*se que quieres que se mire diferente pero en todo caso pon un gradiente de fondo...*/
    height: 115px;

    position: sticky;
    top: 0;
    z-index: 1000;

    background :rgb(242,243,247) !important ;
    background: linear-gradient(90deg, rgba(242,243,247,1) 0%, rgba(164,198,219,0.87718837535014) 41%, rgba(162,197,218,0.8911939775910365) 50%, rgba(164,198,219,0.8911939775910365) 59%, rgba(242,243,247,1) 100%) !important;

    /*border-bottom: solid 0.5px rgba(139, 132, 132, 0.541);*//*border-bottom: 1px solid var(--line);*/
    /*box-shadow: 2px 3px 25px rgba(0, 0, 0, 0.6); */    
}

#search-section{
    height: 100px;/*antes 9%, pero daba problema entonces lo cambie...*/
    width: 100%;/*1192*/        
    
    /*border: solid 1px purple;*/
    box-sizing: border-box;/*para que no se salga de los bordes*/

    /*margin-top: -10px;*/
    /*padding: 0px 5px;*/

    display: flex;
    flex-direction: row;
    /*align-items: center;/*justify-content: center;*/    

    transition: .3s;
    
    background-color: #F2F3F7;
}

#criteria-section{
    height: 100%;
    width: 30%;

    /*border: solid 1px red;*/
    box-sizing: border-box;/*para que no se salga de los bordes*/
    
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#searcher{
    height: 50px;
    width: 97%;/*550px*/

    border: none;
    border-radius: 15px 0px 0px 15px;

    padding: 20px;

    background-color: #ffffff;
}

#button-search/*, #button-search-2*/{
    height: 50px;
    width: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 0px 15px 15px 0px;

    font-size: 25px;
    color: white;

    background-color: rgba(53, 136, 230, 0.945);
}

#filters-section{
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;/*justify-content: center;*/

    box-sizing: border-box;
    
    padding: 2px 0px 0px 25px;
}

/*#filter-header-section{
    height: 25%;
    width: 100%;

    display: flex;
    flex-direction: row;
}*/

#filter-body-section{
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding-left: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;    

    border-left: solid 0.5px rgba(192, 191, 191, 0.788);
}

#lbl-price, #lbl-category, #lbl-brand{
    height: auto;
    width: auto;

    display: flex;    
    align-items: center;

    box-sizing: border-box;

    margin-right: 25px;
}

#price-filter{
    height: 57px;
    width: 106px;

    border: none;
    border-radius: 15px 0px 0px 15px;

    padding: 20px;
    margin-left: 11px;

    background-color: #ffffff;
}

#price-opt-filter{
    height: 57px;
    width: 105px;

    border: none;
    border-radius: 0px 15px 15px 0px;

    padding: 20px;

    background-color: rgba(128, 183, 247, 0.671);
}

#category-filter{
    height: 57px;
    width: 461px;/*461*/

    border: none;
    border-radius: 15px;

    padding: 20px;
    margin-left: 11px;
    
    background-color: #ffffff;
}

#brand-filter{
    height: 57px;
    width: 300px;/*300px*/

    border: none;
    border-radius: 15px;

    padding: 20px;
    margin-left: 11px;

    background-color: #ffffff;
}

#content-section{
    height: 91%;
    max-height: 91%;
    width: 100%;

    padding: 27px;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, auto);    
    column-gap: 70px;
    row-gap: 50px;

    /*border: solid 1px orange;*//*I has to search why it still over the size, i think it is because of the heigh, maybe I have to write a max...*/

    overflow-y: visible;
}


/*Arreglar overflow, arrelgar select, arreglar apariencia login/sig in*/