.my-store-container{
    height: auto;
    min-height: 1176px;
    width: 100%;

    box-sizing: border-box;
    padding: 70px 510px;

    font-family: 'Poppins', sans-serif;
    font-size: 19px;

    background-color: #F2F3F7;
}

#my-store-table-container{
    max-height: 1000px !important;   
    margin-bottom: 20px;    

    overflow-y: auto;/*hidden, solo oculta el contenido extra, sin barras de desplazamiento...*/
}

table{
    max-height: 980px !important;

    background-color: white;
    border: 1px solid black;
}

table th{
    height: 70px;        

    box-sizing: border-box;
    padding-top: 5px;
}

tr:hover{    
    background-color: #D4F2FF;/*#C6FFFF;/*rgba(173, 217, 255, 0.39);*/
}

table td{
    /*height: 110px;*/
    min-height: 110px;  
    max-height: 110px;  

    padding: 25px;
}

th:first-child, td:first-child{
    max-width: 120px;
}

table th:nth-child(2), td:first-child {
    max-width: 140px;
}

table th:nth-child(3), td:first-child {
    max-width: 100px;
}

table th:nth-child(4), td:first-child {
    max-width: 270px;
}

table th:nth-child(5), td:first-child {
    max-width: 70px;
}

table th:nth-child(6), td:first-child {
    width: 70px;
}

table th:last-child, td:first-child {
    width: 60px;
}

#product-img{
    width: 60px;
    height: 60px;
}

#footer-section{
    position: absolute;
    

    height: auto;
    width: 63.4%;/*sin position:absolute. el 100% es el dato a emplear*/

    display: flex;
    justify-content: flex-end;    

    /*border: 1px solid maroon;*/
}

#more-products{
    height: 75px;
    width: 75px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;   

    font-size: 50px;    
    color: black;

    background-color: white;
    box-shadow: 2px 3px 4px 0.5px rgba(0, 0, 0, 0.2);/*box-shadow: 2px 3px 25px rgba(0, 0, 0, 0.6);*/

    cursor: pointer;
}
