.card-item{
    height: 575px;
    width: 390px;

    padding: 20px;
    /*margin-right: 70px;*/

    box-sizing: border-box;

    border-bottom: solid 0.5px gray;
    border-radius: 15px;

    background-color: #ffffff;
}

.card-item:hover #cart-option-add{
    visibility: visible;
    cursor: pointer;
}

.card-item:hover #cart-option-see{
    visibility: visible;
    cursor: pointer;
}

#image-section{
    height: 51%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: solid 0.5px rgba(192, 191, 191, 0.788);

    box-sizing: border-box;
}

#image{
    height: 150px;
    width: 150px;
}

#details-section{
    height: 51%;
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 5px;

    box-sizing: border-box;
}

#title-card-element{
    display: flex;
    flex-direction: row;    

    margin-top: 15px;
    margin-bottom: 3px;

    font-size: 20.5px;
}

#name-card-element{
    font-weight: 500;
}

#brand-card-element{
    color: rgb(62, 141, 232);
}

#category-section{
    font-weight: 100;
    color: rgb(63, 62, 62);
}

#features-section{
    height: 42%;
    width: 100%;

    display: flex;
    align-items: center;    

    text-overflow: ellipsis;/*It is going to be util when the text is more than the space*/
    overflow: hidden;    
}

#access-section{
    height: 25%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;    

    font-weight: 400;
    color: #111B58;
    text-decoration: underline;
}

#price-card-element{
    margin-right: 25px;
}

#owner-section{
    height: 15%;
    width: 100%;

    display: flex;
    align-items: center;
}

/*#cart-options-div{
    height: 125px;
    width: auto;

    box-sizing: border-box;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}*/

#cart-option-add, #cart-option-see{
    height:57px;
    width: 57px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 100%;    
    
    position: relative;       
    left: 285px;
    top: -500px;

    margin-bottom: 15px;

    font-size: 30px;
    background-color: white;
    box-shadow: 2px 3px 4px 0.5px rgba(0, 0, 0, 0.2);

    cursor: pointer;    
    visibility: hidden;
}